<!-- views폴더의 모든 파일들은 화면을 구성하는 역할 -->
<%- include('../inc/head.ejs') %>
<%- include('../inc/header.ejs') %>
<link rel="stylesheet" href="/css/auth/join.css">
<div class="wrapper">
    <%- include('./title.ejs') %>
    
</div>
<%- include('../inc/footer.ejs') %>
<script src="/js/auth/join.js"></script>
<%- include('../inc/foot.ejs') %>